[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"luna16.python"                    = {editable = true, path = "."}
"luna16.analysis.wrangling.python" = {editable = true, path = "./luna16/core/analysis/wrangling/inst/root"}
"luna16.sandbox.python"            = {editable = true, path = "./sandbox"}
"ransack"                          = {editable = true, path = "./luna16/core/utils/ransack/inst/root"}

[dev-packages]

[requires]
python_version = "3.6"
